@media only screen and (max-width:960px) {
    #header_section{
        padding-top: 20px;
    }
    .mobile_menu{
        position: absolute;
        top: 10px;
        right: 10px;
    }
    .logo{
        float: none;
        padding-left: 30px;
    }
    .slider_left{
        float: none;
        width: 60%;
        margin-left: 20%;
        text-align: center;
    }
    .slider_right{
        float: none;
        width: 60%;
        margin-left: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .services{
        width: 46%;
        margin: 0 1%;
    }
    .services:nth-child(1),
    .services:nth-child(3){
        margin-left: 3%;
    }
    .services:nth-child(3),
    .services:nth-child(4){
        margin-top: 30px;
    }
    .service_work{
        width: 250px;
        margin: 0 20px;
    }
    .service_work:nth-child(1),
    .service_work:nth-child(4){
        margin-left: 60px;
    }
    .footer_element{
        width: 70%;
        margin: 30px 0;
        margin-left: 15%!important;
    }
    #copyright .row{
        width: 80%;
        margin-left: 10%;
    }
}

@media only screen and (max-width:890px) {
    .service_work{
        width: 70%;
        margin-left: 15%!important;
    } 
    .service_work:nth-child(1),
    .service_work:nth-child(2){
        margin-bottom: 40px;
    }
}

@media only screen and (max-width:768px) {
    .services{
        width: 70%;
        margin-left: 15%!important;
    }   
    .services:nth-child(1){
       margin-bottom: 40px;
    }
}

@media only screen and (max-width:680px) {
     .slider_left{
        width: 70%;
        margin-left: 15%;
         margin-bottom: 40px;
    }
    .slider_right{
        width: 70%;
        margin-left: 15%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .slider_right img{
        width: 270px;
        height: 270px;
    }
    .slider_left h1{
        font-size: 30px;
    }
    .slider_left p{
        font-size: 14px;
    }
    .services_title{
        width: 250px;
    }
    .services h2,
    .services_title{
        font-size: 24px;
    }
    .services p{
        font-size: 14px;
    }
    .service_work h3{
        font-size: 16px;
    }
    .footer_element:nth-child(4) form input[type="submit"]{
        font-size: 13px;
    }
    #copyright p{
        font-size: 13px;
    }
}

@media only screen and (max-width:440px) {
    .slider_left{
        width: 90%;
        margin-left: 5%;
    }
    .slider_right{
        width: 90%;
        margin-left: 5%;
    }
     .services{
        width: 90%;
        margin-left: 5%!important;
    }
     .service_work{
        width: 90%;
        margin-left: 5%!important;
    } 
     .footer_element{
        width: 90%;
        margin-left: 5%!important;
    } 
    #copyright p{
        float: none;
        width: 90%;
        margin-left: 5%;
        text-align: center;
    }
    #copyright p:nth-child(2){
        margin-bottom: 20px;
        text-align: center;
    }
}